# API Keys for Ingestion
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMGI1YzdlYTZiNjU4YmFjYzA3ZmY4NzU1OTRlNTcwZCIsIm5iZiI6MTc2NTYxOTEzMS41MDIsInN1YiI6IjY5M2QzNWJiMWIwMDA4NGM2OTgzZTQ5YSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ThB1faietSoNkIR9O_ez4BLbIl7Qsdko0-L5Rw1YSUs
YOUTUBE_API_KEY=AIzaSyDJR_xr694I1_hy1DWLQcrS0JqfIYvA1jI

# Deployment Environment (development/production)
ENV=production

# Logging Level (INFO/DEBUG/WARNING/ERROR)
LOG_LEVEL=INFO
